<%- include("Partials/header.ejs") %> 
<div class="jumbotron jumbotron-fluid text-center vh-100 mb-0">
  <h1 class="display-3 text-info mt-5">In The Mood To Catch a Flick? See What Movies Are Playing Now!</h1>
  <a class="btn btn-info btn-lg mt-5" href="/home" role="button">Show me a list of movies!</a>
</div>
<%- include("Partials/footer.ejs") %>  