body {
margin: 0;
padding: 0;
}

.jumbotron {
  background: url("./img1.jpg");
  text-transform: uppercase;
}

h3 {
  text-decoration: underline;
  margin: 10px 20px 10px;
  padding: 10px 5px 10px;
}

p {
  margin: 10px 20px 10px;
  padding: 0 5px 20px;
}

img {
  margin: 0 20px 10px;
}